@tailwind base;
@tailwind components;
@tailwind utilities;

/* Features */

* {
  -webkit-tap-highlight-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

[contentEditable="true"]:empty:before {
  content: attr(data-placeholder);
  @apply text-black/60;
}

/* ::-webkit-scrollbar {
  @apply hidden sm:block w-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent rounded;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#63635F] rounded;
} */

/* Main layout */

body {
  @apply bg-dark-bg text-[#F8F8F2];
}

header {
  @apply fixed top-0 inset-x-0 h-20 flex items-center bg-dark-accent px-5 transition-all duration-300;
}

main {
  @apply h-[calc(100dvh_-_120px)] mt-20 px-5;
}

section {
  @apply py-5 w-full max-w-7xl mx-auto;
}

footer {
  @apply fixed bottom-0 inset-x-0 h-10 flex items-center bg-dark-accent px-5;
}
